*{
    margin: 0;
    padding: 0;
}
html{
    background-color: rgb(118, 118, 233);
}
body{
    margin-top: 50px;
    background-color: rgba(0, 255, 255, 0.197);
    color: rgb(27, 112, 216);
    font-size: 150px;
    text-align: center;
}
#ct{
    margin: 20px;
    max-width: 200px;
    justify-content: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1px;
    
}

.ALL{
    background-color: rgba(0, 0, 255, 0.557);
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: groove 3px;
    box-shadow: darkgray 10px 30px 20px;
   // max-resolution: 10px;
}
//=======================================
#itm1{
    background-image: url(../img/i1.jpg);
    background-size: 100%;
    grid-row: 1;
    grid-column: 1;
}
#itm2{
    background-image: url(../img/i2.jpg);
    background-size: 100%;
    grid-row: 1;
    grid-column: 2;
}
#itm3{
    background-image: url(../img/i3.jpg);
    background-size: 100%;
    grid-row: 1;
    grid-column: 3;
}
#itm4{
    background-image: url(../img/i4.jpg);
    background-size: 100%;
    grid-row: 2;
    grid-column: 1;
}
#itm5{
    background-image: url(../img/i5.jpg);
    background-size: 100%;
    grid-row: 2;
    grid-column: 2;
}
#itm6{
    background-image: url(../img/i6.jpg);
    background-size: 100%;
    grid-row: 2;
    grid-column: 3;
}
#itm7{
    background-image: url(../img/i7.jpg);
    background-size: 100%;
    grid-row: 3;
    grid-column: 1;
}
#itm8{
    background-image: url(../img/i8.jpg);
    background-size: 100%;
    grid-row: 3;
    grid-column: 2;
}
#itm9{
    background-image: url(../img/i9.jpg);
    background-size: 100%;
    grid-row: 3;
    grid-column: 3;
}





