html {
  background-color: #a49bf6;
}

body {
  max-width: 2200px;
  width: 90%;
  height: 100%;
  background-color: #7373f1;
  background: linear-gradient(123deg, rgba(131, 131, 250, 0.891) 40%, rgba(73, 73, 241, 0.83) 100%);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: tahoma;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: #8c8cfc 10px 10px 10px;
          box-shadow: #8c8cfc 10px 10px 10px;
}

header {
  width: 100%;
  height: 220px;
  text-align: center;
}

.nav_bar {
  background-color: rgba(68, 68, 249, 0.962);
  padding: 1% 0%;
  width: 90%;
  border-radius: 10px;
  margin-left: 20px;
  margin: 0 auto;
  position: fixed;
  z-index: 2;
  -webkit-box-shadow: #393939 0px 10px 10px;
          box-shadow: #393939 0px 10px 10px;
}

a {
  font-family: cursive;
  padding: 0.5% 3%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.694);
  margin: 0px -3px;
  background-color: rgba(132, 208, 255, 0.619);
  border: 1px solid #a5a5a5;
}

.img_tit {
  margin-top: 35px;
}

.OUT_img {
  margin-top: 25px;
  margin-bottom: -25px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

h1 {
  color: #5b3215;
  text-decoration: underline;
  text-shadow: #0943f0 0px 0px 3px;
  font-family: cursive;
  font-size: 30px;
}

section {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.div_text {
  border-radius: 20px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  height: 250px;
  margin-left: 30px;
  margin-top: 30px;
  background: linear-gradient(123deg, rgba(193, 156, 252, 0.646) 50%, rgba(151, 88, 252, 0.608) 100%);
  -webkit-box-shadow: #393939 0px 10px 10px;
          box-shadow: #393939 0px 10px 10px;
}

p {
  text-align: center;
  font-size: 22px;
  margin-top: -5px;
  margin-bottom: 20px;
  padding: 2px 30px;
  width: 100%;
}

h2 {
  padding: 20px 30px 5px 30px;
  margin-top: -10px;
  color: #09095f;
  text-shadow: red 0.5px 0.5px;
  font-size: 25px;
  width: 100%;
}

.img_1 {
  width: 40%;
  height: 200px;
  margin-left: -30px;
  margin-top: 5%;
  border-radius: 50px;
  -webkit-box-shadow: #393939 0px 10px 10px;
          box-shadow: #393939 0px 10px 10px;
}

.img_2 {
  width: 40%;
  height: 200px;
  margin-right: -60px;
  z-index: 1;
  margin-top: 5%;
  border-radius: 50px;
  -webkit-box-shadow: #393939 0px 10px 10px;
          box-shadow: #393939 0px 10px 10px;
}

.img_3 {
  width: 40%;
  height: 300px;
  margin-top: 40px;
  border-radius: 50px;
}

.navs {
  width: 100%;
  margin-top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ul_1 {
  width: 35%;
  font-size: 150%;
}

.ul_2 {
  width: 35%;
  font-size: 150%;
}

li {
  list-style-type: square;
}

table {
  border-radius: 20px;
}

table, th, td {
  border: 1px outset rgba(43, 79, 152, 0.32);
  border-collapse: collapse;
}

table {
  margin: 20px;
}

th {
  background-color: rgba(3, 78, 110, 0.585);
  height: 40px;
  color: #f7adad;
  font-size: 15px;
}

td {
  background-color: rgba(6, 91, 133, 0.095);
  height: 30px;
  padding-left: 20px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: rgba(29, 29, 135, 0.66);
  border-radius: 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ico_l {
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.ico {
  width: 40px;
}

hr {
  width: 95%;
  height: 5px;
  border-radius: 5px;
  border: rgba(74, 74, 135, 0.523) 2px groove;
  background-color: rgba(44, 44, 71, 0.503);
}
/*# sourceMappingURL=style.css.map */